@import "prism.css";
@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}

html {
    @apply text-stone-900;
}

h2 {
    @apply text-2xl font-bold mt-8 mb-4;
}

p {
    @apply mb-4;
}

pre {
    @apply my-4 text-[0.8125em];
}

h1 {
    @apply text-[2.5rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

h2 {
    @apply text-[2rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

h3 {
    @apply text-[1.5rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

h4 {
    @apply text-[1.125rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

h5 {
    @apply text-[0.9rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

h6 {
    @apply text-[0.7rem] font-bold mt-[1.2em] mb-[8px] leading-[1.4];
}

ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 24px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 24px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    @apply text-blue-700 transition-colors duration-300 ease-in-out decoration-0;
}

a:hover {
    @apply text-blue-500;
}
